//Button Styles for US Netting
.button {
  font-size: .9em;
  display: inline-block;
  padding: .5em 1em;
  border: 2px solid transparent;
  border-radius: 2px;
  color: $subtle-black;
  background: #ccc;
  font-family: $font-family-utility;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 500ms ease-in-out;
  &__info{
    background: $brand-darker;
    color: white;
    &:hover{
      color: $gray-lighter;
      background: lighten($brand-darker, 10%);
    }
    &--ghost{
      border-width: 2px;
      border-style: solid;
      border-color: @background
      background: transparent;
      color: @border-color;
    }
      &--inline{
        line-height: 1.2em;
        margin-left: 1em;
        padding: .2em 1em;
      }
  }
  &__buy{
    background: $green;
    color: white;
    &:hover{
      color: $gray-lighter;
      background: lighten($green, 10%);
    }
    &--ghost{
      border-width: 2px;
      border-style: solid;
      border-color: @background
      background: transparent;
      color: @border-color;
    }
  }
  &__back{
    background: $red;
    color: white;
    &:hover{
      color: $gray-lighter;
      background: lighten($red, 10%);
    }
    &--ghost{
      border-width: 2px;
      border-style: solid;
      border-color: @background
      background: transparent;
      color: @border-color;
    }
  }
  &--large{
    padding: .6em 3em;
  }
  &--small{
    padding: .3em .6em;
  }
  &--disabled{
    color: lighten($subtle-black, 40%);
    background: #f5f2f0;
  }
  &--block{
    display: block;
    width: 100%;
  }
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
}

