//Base text, file, and other form control stylings
input[type=text], .text-input{
  border: none;
  font-size: .7em;
  padding: .8em;
}
input::placeholder{
  color: $subtle-black;
}

.inline-form-group{
  padding: .8em 0;
  +below($mobile){
    .inline-label, .inline-input{
      width: 100%;
      lost-utility: clearfix;
    }
  }
}
label, .inline-label label{
  font-weight: bold;
  font-size: .7em;
}
.input__select{
  margin: .3em 0;
  border-color: transparent;
  max-width: 75%;

  +below($mobile){
    max-width: 100%;
  }
}
.call-to-action__group{
  padding-top:.6em;
}