//Color Guide
$red = #e2361f;
$brand-primary = #428bca;
$brand-darker = #3b5b93;
$brand-navy = #000080;
$primary-color = #008CBA;
$green = #00c853;
$subtle-black = #1b1b1b;
//Typography
$font-family-base = 'Open sans', sans-serif;
$font-family-utility = 'Roboto', sans-serif;
$font-family-brand = 'Audiowide', sans-serif;

//Supported media queries
$mobile = 480px;
$tablet = 768px;

//Padding for spacers
$padding-default = 1.2em;

.brand-darker{
  color: $brand-darker;
}
.red{
  color: $red;
}
.img-center{
  display: block;
  margin: 0 auto;
}